@using SergeiLevin0.ViewModels
@model SergeiLevin0.ViewModels.EmployeeView
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeDatails</title>
</head>
<body>
<h3>@ViewBag.Title</h3>
<h4>@ViewData["Description"]</h4>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>SecondName</th>
        <th>Age</th>
        <th>Детали</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.FirstName</td>
            <td>@Model.SecondName</td>
            <td>@Model.Age</td>
            <td><a asp-controller="Home" asp-action="GetEmployees">Return to list of empoyees!</a></td>
        </tr>
    </tbody>

</table>
</body>
</html>
