@using SergeiLevin0.ViewModels
@model IEnumerable<SergeiLevin0.ViewModels.EmployeeView>
@ViewBag.Title = "Сотрудники"

<h3>@ViewBag.Title</h3>     
<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>SecondName</th>
                <th>Age</th>
                <th>Детали</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.SecondName</td>
                    <td>@employee.Age</td>
                    <td><a asp-controller="Employees" asp-action="EmployeeDatails" asp-route-id="@employee.Id">About employee @employee.Id</a></td>
                </tr>
            }
        </tbody>

    </table>
